body {
  margin: 0;
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: rgb(173, 255, 211);
  background: linear-gradient(
    90deg,
    rgba(173, 255, 211, 1) 0%,
    rgba(255, 155, 184, 1) 35%,
    rgba(126, 233, 255, 1) 100%
  );
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: lightcoral;
  text-decoration: underline;
}

ul,
ol {
  list-style-type: none;
}

header {
  background: rgb(173, 255, 211);
  background: linear-gradient(
    90deg,
    rgba(173, 255, 211, 1) 0%,
    rgba(255, 155, 184, 1) 35%,
    rgba(126, 233, 255, 1) 100%
  );
  width: 100%;
  color: #ffff;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
}
li {
  display: inline;
  float: left;
}

nav ul li a {
  display: block;
  padding: 1rem;
}

.pager__item {
  border-radius: 10px;
}

.pager__item a {
  background-color: #f082ac;
}

.pager__item a:hover {
  color: white;
}

header nav ul li a {
  justify-content: center;
  align-items: center;
}
navbar {
  justify-content: center;
  align-items: center;
}
.heading h1 {
  color: #ffffff;
}

button,
#edit-submit {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
  background-color: #f082ac;
}

.content {
  display: flex;
  position: relative;
  width: 80%;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 90px;
}
article {
  background-color: aliceblue;
  min-width: 60%;
  padding: 2rem;
  margin: 1rem;
  border-radius: 20px;
}

article a {
  margin: 0.5rem;
}

p {
  font-size: 1.3rem;
}

article img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
}
.footer {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: mintcream;
  color: black;
  text-align: center;
  padding: 20px;
  bottom: 0;
}
#block-icecream-theme-branding a {
  font-size: 20px;
  color: #fff;
}
.heading {
  color: #fff;
  font-size: 30px;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
#block-icecream-theme-site-branding {
  padding: 2rem;
  color: white;
  font-size: large;
}
#block-icecream-theme-main-menu ul {
  z-index: 5;
  width: 80%;
  display: inline-block;
}
.sidebar {
  background-color: lightcyan;
  float: right;
  padding: 1rem;
  margin: 1.5rem;
  width: 700px;
  height: 1500px;
  border-radius: 20px;
}
#block-icecream-theme-main-menu ul li {
  padding: 10px;
  width: 10%;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: #000;
  background-color: #e6dada;
  border: 2px solid #e6dada;
  transition: 500ms;
}
#block-icecream-theme-announcementsfeed-2 {
  max-height: 80%;
}

#block-icecream-theme-page-title h1 {
  float: left;
  padding: 1rem;
  font-size: 2rem;
  text-decoration: underline;
}
#block-icecream-theme-breadcrumbs {
  float: left;
}
#block-icecream-theme-page-title h1 {
  font-size: 2rem;
}
#react-app {
  width: 700px;
  background-color: #ffffff;
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  text-align: center;
}

#react-app button,
#edit-submit {
  margin: 0.5rem;
  padding: 0.5rem;
}

form {
  margin: 1rem;
  padding: 1rem;
  background-color: mintcream;
  border-radius: 20px;
}
form label {
  font-weight: 600;
}

#edit-name {
  margin: 0.5rem;
  padding: 1rem;
  width: 300px;
  height: 20px;
  border-radius: 10px;
}
.pager nav ul {
  display: inline-block;
  background-color: #ea4c89;
}

.pager nav ul li {
  background-color: #ea4c89;
  width: 100%;
  display: inline-block;
}

#block-icecream-theme-main-menu ul li:hover {
  color: #e6dada;
  background-color: #13171c;
}
#block-icecream-theme-footer ul li {
  display: inline-block;
  background-color: #ea4c89;
}

#block-icecream-theme-footer ul li a {
  display: inline-block;
  color: #efefef;
  background-color: #ea4c89;
}
#block-icecream-theme-mainnavigation-2 {
  display: inline;
  padding: 1rem;
  font-weight: bold;
  font-size: large;
  color: #ffff;
}
#block-icecream-theme-useraccountmenu {
  display: inline-block;
  margin: 2rem;
  padding: 2rem;
  color: #ffff;
}

#block-icecream-theme-account-menu {
  display: inline;
  margin: 2rem;
  padding: 2rem;
  color: #ffff;
}

#block-icecream-theme-content {
  font-size: 3rem;
  padding: 1rem;
  margin: 1rem;
  width: 500px;
  border-radius: 10px;
  text-align: center;
}

#block-icecream-theme-content h1 {
  font-size: 2rem;
}

table {
  width: 500px;
  height: 100%;
}

th {
  font-size: 1rem;
}

td {
  font-size: 1rem;
}
